<!DOCTYPE html>
<html>

<head>
  <title>Viivi on kissa</title>
</head>

<body>
  <div class="header">
  <h1>Viivi on seliba<b>kissa</b></h1>
  </div>
  <div class="nav">
  <p>
    <a href="/register">Luo tunnus</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>

  </d />
  {% for thread in threads %}
  <div class="thread">
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
    <br />
    {{ thread.total }} kommenttia, uusin {{ thread.last }}
  </p>
  <hr />
  </div>
  {% endfor %}

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
  </div>

  <div class="bookthread">
  {% if session.user_id %}
  <h2>Kommentti Viiville</h2>

  <form action="/new_thread" method="post">
    <p>
      Kommentti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  </div>
  {% endif %}

  {% for message in get_flashed_messages() %}
  <p class="info">
    {{ message }}
  </p>
  {% endfor %}

  <link rel="stylesheet" href="/static/main.css">

</body>

</html>
