body {
    margin: auto;
    max-width: 40em;
    font-family: serif;
    background-color: #A7BE9C;
  }

  .header {
    background-color: #A7BE9C;
    color: #144048;
  }
  .nav {
    color: #144048;
  } 
  .thread {
    border: 1px solid #144048;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: #89A27E; 
    color: #144048;
    padding: 1em;
    margin: 0.3em 0;
  }
  .bookthread {
    color: #144048;
    max-width: 70em;   
  } 
  .profile_picture {
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;  
  } 